<HTML>
    <head><title> POST METHOD </title> </head>
    <body>
        <form method = "POST">
            <div>
                Question 1
            </div>
             <div>
                Answer:
                 <input type = "text" name = "Question 1">
            </div>
            <br>
            <div>
                Question 2
            </div>
             <div>
                Answer:
                 <input type = "text" name = "Question 2">
            </div>
            <br>
            <div>
                Question 3
            </div>
             <div>
                Answer:
                 <input type = "text" name = "Question 3">
            </div>
            <br>
            <div>
                Question 4
            </div>
             <div>
                Answer:
                 <input type = "text" name = "Question 4">
            </div>
            <br>
            <button type="submit">
                Submit
            </button>
        </form>
    </body>
    </html>