<HTML>
    <head><title> POST METHOD </title> </head>
    <body>
        <div>
            {{Message}}
        </div>
        <br>
        <section>
            {{General_Message}}
        </section>
        <form method = "POST">
            <br>
            <div>
                ID
            </div>
             <div>
                Answer:
                 <input type = "text" name = "ID">
            </div>
            <br>
            <div>
                Name
            </div>
             <div>
                Answer:
                 <input type = "text" name = "Name">
            </div>
            <br>
            <div>
                Idea
            </div>
             <div>
                Answer:
                 <input type = "text" name = "Idea">
            </div>
            <br>
            <div>
                Contact
            </div>
             <div>
                Answer:
                 <input type = "text" name = "Contact">
            </div>
            <br>
            <button type="submit">
                Submit
            </button>
        </form>
    </body>
    </html>